body { 
    background-color: white;
    margin: 0; 
    font-family: Arial, sans-serif; /* Add a default font */
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px; 
}

header a {
    color: 008F11; 
    text-decoration: none; 
    margin: 0 10px;
}

footer {
    background-color: white;
    text-align: center; 
    padding: 20px; 
}

footer a {
    color: black; /* Make footer links black */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add spacing between links */
}

button {
    border: 2px solid black; 
    padding: 15px 30px; 
    background-color: white; 
    color: black; 
    font-size: 16px; 
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
}

button:hover {
    background-color: black; /* Change background on hover */
    color: white; /* Change text color on hover */
}

.landingPage {
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 80vh; /* Set height to 80% of viewport height */
}